@page
@model E.sunbank0721.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.StandPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.StandPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ItemPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ItemPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.MemberID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.MemberID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PayStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PayStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
